@charset 'utf-8';

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

body {
    overflow-x: hidden;
    color: rgb(29, 29, 31);
    letter-spacing: -0.05em;
    background-color: white;
}

p {
    line-height: 1.6;
}

a {
    color: rgb(29, 29, 31);
    text-decoration: none;
}

.global-nav {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    height: 52px;
    border-bottom: 1px solid #ddd;
}

.global-nav-links {
    display: flex;
    align-items: center;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.global-nav-links .product-name {
    margin-right: auto;
    font-size: 1.4rem;
    font-weight: bold;
}

.global-nav-links a{
    font-size: 1.2 rem;
}

.global-nav-links a:not(.product-name) {
    margin-left: 2em;
}

